<h1>Enter New Contact</h1>

<%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
  <div>
    First Name:
    <input type="text" name="input_first_name", value="<%= @contact.first_name %>">
  </div>
  <div>
    Middle Name:
    <input type="text" name="input_middle_name" value="<%= @contact.middle_name %>">
  </div>
  <div>
    Last Name:
    <input type="text" name="input_last_name" value="<%= @contact.last_name %>">
  </div>
  <div>
    Email:
    <input type="text" name="input_email" value="<%= @contact.email %>">
  </div>
  <div>
    Phone Number:
    <input type="text" name="input_phone" value="<%= @contact.phone_number %>">
  </div>
  <input type="submit" value="Submit Contact">
<% end %>