<h1>Contact:</h1>
<p>Name: <%= @contact.first_name %> <%= @contact.last_name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone Number: <%= @contact.phone_number %></p>
<%= link_to "Delete contact forever", "/contacts/#{@contact.id}", method: :delete %>