<h1>Contact:</h1>
<p>Name: <%= @contact.full_name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone Number: <%= @contact.japanese_number %></p>
<p>Updated At: <%= @contact.friendly_updated_at %></p>
<%= link_to "Delete contact forever", "/contacts/#{@contact.id}", method: :delete %>